@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vh;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 3vh;
}

.header {
  height: 20vh;
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-areas: "logo" "subtitle";
  margin-bottom: 1.5vh;
}

#header__logo {
  grid-area: logo;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

#header__subtitle {
  grid-area: subtitle;
  height: 100%;
  margin: auto;
}

.content {
  width: 60vw;
  margin: auto;
}

.content__panel {
  background-color: #FFDF9B;
  border-radius: 1vh;
  padding: 1vh;
  padding-left: 2vh;
  margin: 1vh;
}

#instructions__start__list li {
  margin: 1vh;
  list-style: circle;
}

.instructions__start__form {
  display: grid;
  grid-template-areas: "upload info button";
  grid-template-columns: 20% 64% 15%;
}

.instructions__start__input {
  border: 1px solid black;
  display: inline-block;
  padding: 1.25vh 1vh 1vh 1vh;
  cursor: pointer;
  background-color: whitesmoke;
}

input[type="file"] {
  display: none;
}

.instructions__start__info {
  padding-left: 1vw;
}

#instructions__start__name {
  color: #dc2f02;
  font-style: italic;
}

.instructions__start__button {
  height: 60%;
  width: 70%;
  margin: auto;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  background-color: whitesmoke;
  font-weight: bolder;
}

.dashboard__error__navigation {
  text-decoration: none;
  color: #dc2f02;
}

.summary li {
  padding: 0.25vh 0vh;
}

@media only screen and (max-width: 700px) {
  .header {
    height: 15vh;
    width: 80vw;
    margin: auto;
  }

  #header__logo {
    height: 100%;
    max-width: 100%;
    margin: auto;
  }
  
  #header__subtitle {
    height: 100%;
    max-width: 100%;
    margin: auto;
  }

  .instructions {
    width: 95vw;
  }
}