html {
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

body {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  html {
    background-image: url('./images/portrait-background.png');
  }
}
